<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>QR Code Generate</title>
</head>
<body>

    <img src="{{out}}" alt="no new yet">
    <div>{{message}}</div>

    <br><br><hr><br><br>
    
    <form action="/" method="GET">
        <input type="submit" value="Create another">
    </form>

</body>
</html>